<% if (item.no_comment){ %>
  <!-- no comment -->
<% } else { %>
  <% if (item.fedi_url){ %>
    <div id="comments">
      <p id="mastodon-comments-list"></p>
      <script src="<%- url_for('./js/fedicomment.js') %>" post-url="<%- item.comment_url %>"> async</script>
    </div>
    <noscript>Enable JavaScript to view the comments.</a></noscript>
  <% } else { %>
    <blockquote>如不想授权 Giscus 应用，也可以点击下方<strong>左上角数字</strong>直接跳转到 Github Discussions 进行评论。</blockquote>
    <script src="https://giscus.app/client.js"
            data-repo="SouthFox-D/SouthFox-D.github.io"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyMjg3NDM0MjQ="
            data-category="博客评论"
            data-category-id="DIC_kwDODaJZAM4CA7bf"
            data-mapping="og:title"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="dark_dimmed"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
    </script>
  <% } %>
<% } %>
