<% if (item.no_comment){ %>
			<!-- no comment -->
<% } else { %>
  <% if (theme.enable_comment) { %>
    <h4>评论</h4>
    <div class="comment">
      <div id="cusdis_thread"
        data-host="https://dodder.southfox.gay"
        data-app-id="7dbf44de-3b64-4d05-8e4d-181970039666"
        data-page-id="<%= page.path %>"
        data-page-url="<%= page.permalink %>"
        data-page-title="<%= page.title %>"
      ></div>
      <script async defer src="https://dodder.southfox.gay/js/cusdis.es.js"></script>
        <noscript>Enable JavaScript to view the comments.</a></noscript>
    </div>
  <% } %>
<% } %>
