<div class="blog-header">
  <a class="blog-title" href="/index.html"><%= config.title %></a>
  <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
  <% } %>
</div>
