<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
      <div class="navbar-header">
          <a href="/index.html" class="navbar-brand">
             主页
          </a>
		  <a href="/archives/" class="navbar-brand">
             归档
          </a>
      </div>
  </div>
</nav>