<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse navbar-ex1-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class=""><a href="、index.html">主页</a></li>
                <li class=""><a href="/archives/">归档</a></li>
            </ul>
        </div>
    </div>
</nav>
