<% if (theme.swiftype_key) { %>
  <div class="form-group has-success has-feedback" id="site_search">
    <form class="site-search-form">
        <input type="text" id="st-search-input" name="q" results="0" placeholder="<%= __('search') %>" class="st-search-input st-default-search-input form-control" />
    </form>
  </div>  
<% } else { %>
  <div id="site_search">
   <div class="form-group">
    <input type="text" id="local-search-input" name="q" results="0" placeholder="<%= __('search') %>" class="st-search-input st-default-search-input form-control"/>
   </div>  
  <div id="local-search-result"></div>
  </div>

  <script type="text/javascript" id="local.search.active">
    var inputArea       = document.querySelector("#local-search-input");
    inputArea.onclick   = function(){ getSearchFile("<%- url_for('./search.xml') %>"); this.onclick = null }
    inputArea.onkeydown = function(){ if(event.keyCode == 13) return false }
    </script>
    
<% } %>
